table, footer {
    border-collapse:collapse;
    width: 70%;
    margin:0 auto;
}
body {
    margin: 0;
    background-color: white;
    overflow:  hidden;
}
.container{
    width:100%;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ED9FB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}
header.container img.logo{
    width: 25%;
    max-width: 100px;
    height: 25%;
    max-height: 150px;
    margin-left:20px;
    margin-right:0;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all 0.2s;
}
header.container img{
    padding:0;
    margin:0;
}
 
header.container nav{
    display:flex;
    flex-wrap: wrap;
}
header.container nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding:10px 30px;
    font-size: 1.5vw;
}
.logo:hover{
    background:pink;
}
.container .pagetitle {
    text-align: center;
    padding-top: 250px;
    margin-top: 0;
 
}
 
.container .pagetitle h3 {
    font-size: 8em;
    margin: 0;
}

div.no {
    counter-reset: css-counter 0; 
  }
div.no p{
    counter-increment: css-counter 1;
}
button{
    border-radius: 10px;
    color: #f9fbfd;
    padding: 15px;
    display:inline-flex;
    font-size: 16px;
    margin: 10px auto;
    background-color: #9ED9FB;
    border: none;
    width: 250px;
    }
button a{
    text-decoration: none;
    color: #f9fbfd;
    margin: auto;
}
.class-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Align buttons vertically */
    margin-top: 130px;
    position: fixed;
    left: 20px;
}

.add-newclass {
    border: none;
    padding: 10px;
    margin:  auto;
    display: inline-block;
}
