body {
    margin: 0;
    background-color: white;

}
.container{
    width:100%;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ED9FB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
}
header.container img.logo{
    width: 25%;
    max-width: 100px;
    height: 25%;
    max-height: 150px;
    margin-left:20px;
    margin-right:0;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all 0.2s;
}
header.container img{
    padding:0;
    margin:0;
}
 
header.container nav{
    display:flex;
    flex-wrap: wrap;
}
header.container nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding:10px 30px;
    font-size: 1.5vw;
}
.logo:hover{
    background:pink;
}


form{
    
    padding: 50px;
    text-align: center;
}


.question {
    background:#9ED9FB;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 80px ;
    border-radius: 10px;
    text-align: center;
}

.answer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}




input[type=submit], input[type=button]{
    background-color:#9ED9FB;
    font-size: large;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 40px;
    right: 30px;
}




